* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input {
  outline: none;
}
a {
  text-decoration: none;
  color: black;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
li {
  list-style-type: none;
}
